.view .wrap-box h2 {
	margin-bottom: 0;
}

/* contents */
.view-contents img {
	max-width: 100%;
	margin: 3.2rem 0;
}
.view-contents p {
	font-size: 1.6rem;
	line-height: 1.6;
	text-align: justify;
	letter-spacing: -0.01em;
}

/* title */
.view .wrap-box .author-wrap {
	height: 6.4rem;
	font-size: 1.4rem;
}
.title-wrap {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 8rem;
	margin-bottom: 1rem;
	font-size: 1.6rem;
}
.title-wrap h2 {
	width: 100%;
	text-transform: none;
}

@media (max-width: 1024px) {
	.title-wrap {
		flex-direction: column;
		gap: 2rem;
	}
}

.title-wrap h2 {
	font-size: 3.2rem;
	font-weight: bold;
}
.title-wrap button {
	flex-shrink: 0;
}

.view .wrap-box .btn-back {
	position: absolute;
	top: 8rem;
	left: 0;
}

.view .category {
	margin: 2rem 0 1rem 0;
}

@media (max-width: 1024px) {
	.view .wrap-box .btn-back {
		top: 6rem;
		width: 5.2rem;
		height: 5.2rem;
	}
	.view .wrap-box .author-wrap {
		height: 5.2rem;
		margin-bottom: 1rem;
	}
}

@media (max-width: 640px) {
	.view .wrap-box .btn-back {
		top: 4rem;
	}
	.view .wrap-box .author-wrap {
		margin-bottom: 1rem;
		padding-left: 3rem;
	}
}
